<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.stroma.ecosurvey"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>ECO Reports</name>

    <description>
        Chartered surveyor report for hard-to-treat cavity wall insulation. 
    </description>

    <author email="waynecockram@gmail.com">
       Wayne Cockram
    </author>

	<preference name="phonegap-version" value="2.9.0" />
	 
	<preference name="orientation" value="default" />
	
	<preference name="webviewbounce" value="true" />
	
	<preference name="exit-on-suspend" value="true" />
	
	<preference name="android-minSdkVersion" value="10" />
	
	<preference name="permissions" value="none"/>
	
	<gap:splash src="splash/android/ldpi.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="splash/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="splash/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="splash/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />

</widget>